@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply dark:bg-neutral-900 dark:text-white;
}

.tab-active {
    @apply bg-white text-gray-800 shadow-sm hover:border-transparent dark:bg-neutral-700 dark:text-neutral-200 dark:hover:border-transparent;
}

.bg-custom-blur {
    @apply bg-white/50 dark:bg-neutral-800/40;
}

.custom-link {
    @apply cursor-pointer font-medium text-gray-500 hover:text-gray-400 px-6 sm:py-6 sm:px-0 dark:text-neutral-400 dark:hover:text-neutral-500;
}

.custom-link-active {
    @apply font-medium text-blue-600 px-6 sm:py-6 sm:px-0 dark:text-blue-500;
}

.custom-dropdown-transition {
    @apply transition-[opacity,margin];
}

.input {
    @apply py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600;
}
.input-invalid {
    @apply border-red-500 focus:border-red-500 focus:ring-red-500;
}

.label {
    @apply block text-sm font-medium mb-2 dark:text-white;
}

.card {
    @apply relative flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400;
}

.textarea {
    @apply py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600;
}

.btn {
    @apply flex justify-center items-center text-center gap-x-2 text-sm font-semibold rounded-lg disabled:opacity-50 disabled:pointer-events-none transition duration-200 active:scale-90;
}
.btn-df {
    @apply py-3 px-4;
}
.btn-sm {
    @apply py-2 px-3;
}
.btn-xl {
    @apply p-4 sm:p-5;
}
.btn-solid-primary {
    @apply border border-transparent bg-blue-600 text-white hover:bg-blue-700;
}
.btn-outline-default {
    @apply border border-gray-200 text-gray-500 hover:border-blue-600 hover:text-blue-600 dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-blue-500 dark:hover:border-blue-600;
}

.toast {
    @apply fixed top-6 right-10 z-50 max-w-xs bg-white border border-gray-200 rounded-xl dark:bg-neutral-800 dark:border-neutral-700 before:absolute;
}
#post-page {
    max-width: 800px;
}
#simple-voting-description {
    min-height: 200px;
}
#navbar-offcanvas-example {
    z-index: 60;
}

#post-modal-inner {
    height: calc(100% - 3.5rem);
}
.toast-shadow {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25), 0 0 25px 5px #3b82f6;
}

.z-80 {
    z-index: 80;
}

div[data-hs-overlay-backdrop-template] {
    z-index: 79;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
}

.custom-spin {
    animation: spin 1s linear infinite !important;
}

.load-form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}