@import "./tailwind";
@import "./main";

main {
  @apply min-h-[1500px] p-6;
}

label {
  @apply m-0;
}

#toast-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s all;
}

.custom-toast {
  @apply flex w-[280px] items-center rounded-lg bg-white p-4 text-gray-500 shadow dark:bg-gray-800 dark:text-gray-400;

  &__success-icon {
    @apply inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-green-100 text-green-500 dark:bg-green-800 dark:text-green-200;
    svg {
      @apply h-5 w-5;
    }
  }

  &__warning-icon {
    @apply inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-orange-100 text-orange-500 dark:bg-orange-700 dark:text-orange-200;
    svg {
      @apply h-5 w-5;
    }
  }

  &__error-icon {
    @apply inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-red-100 text-red-500 dark:bg-red-800 dark:text-red-200;
    svg {
      @apply h-5 w-5;
    }
  }

  &__text {
    @apply ms-3 pr-2 text-sm font-normal;
  }

  &__close {
    @apply mx-2 ms-auto inline-flex h-8 w-8 transform items-center justify-center rounded-lg bg-white p-1.5 text-gray-400 transition duration-150 hover:bg-gray-100 hover:text-gray-900 active:scale-90 dark:bg-gray-800 dark:text-gray-500 dark:hover:bg-gray-700 dark:hover:text-white;

    svg {
      @apply h-3 w-3;
    }
  }
}

#voting-proposals {
  @apply max-w-[680px];
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.tab {
  @apply transition duration-150 hover:bg-gray-300;
}

.overlay {
  @apply bg-black/50;
}
