@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply dark:bg-neutral-900 dark:text-white;
}

.tab-active {
    @apply bg-white text-gray-800 shadow-sm hover:border-transparent dark:bg-neutral-700 dark:text-neutral-200 dark:hover:border-transparent;
}

.w-switch {
    @apply w-[3.25rem];
}
.z-80 {
    z-index: 80;
}

div[data-hs-overlay-backdrop-template] {
    z-index: 79;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
}
main {
    min-height: 1000px;
}

#addresses, #amounts {
    min-height: 86px;
    max-height: 300px;
}