<form
    action="#"
    class="card bg-base-100 mt-4 hidden w-96 flex-col gap-2 p-6 shadow"
    data-tab-content="additional-mint"
    id="additional-mint-form"
>
  <button
      class="btn mb-2"
      onclick="additional_mint_docs.showModal()"
      type="button"
  >
    Docs for additional mint
  </button>
  <div>
    <label class="label label-text" for="additional-mint-title">Title</label>
    <input
        class="input input-bordered w-full"
        id="additional-mint-title"
        name="title"
        placeholder="Type here"
        type="text"
    />
  </div>
  <div>
    <label class="label label-text" for="additional-mint-wallet"
    >Receiver wallet address</label
    >
    <input
        class="input input-bordered w-full"
        id="additional-mint-wallet"
        name="wallet"
        placeholder="Type here"
        type="text"
    />
  </div>
  <div>
    <label class="label label-text" for="additional-mint-amount">Amount</label>
    <input
        class="input input-bordered w-full"
        id="additional-mint-amount"
        name="amount"
        placeholder="Type here"
        type="number"
    />
  </div>
  <div>
    <label class="label label-text" for="additional-mint-description"
    >Desciption</label
    >
    <textarea
        class="textarea textarea-bordered w-full"
        id="additional-mint-description"
        name="description"
        placeholder="Type your description"
    ></textarea>
  </div>
  <button class="btn btn-primary mt-2">Submit Minting Request</button>
</form>

<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const validation = new window.JustValidate("#additional-mint-form");

    validation
      .addField("#additional-mint-title", [
        {
          rule: "required",
          errorMessage: "Title is required",
        },
      ])
      .addField("#additional-mint-wallet", [
        {
          rule: "required",
          errorMessage: "Wallet address is required",
        },
        {
          rule: "minLength",
          value: 42,
          errorMessage: "Wallet address must be 42 characters long",
        },
        {
          rule: "maxLength",
          value: 42,
          errorMessage: "Wallet address must be 42 characters long",
        },
      ])
      .addField("#additional-mint-amount", [
        {
          rule: "required",
          errorMessage: "Amount is required",
        },
        {
          rule: "number",
          errorMessage: "Amount must be a number",
        },
        {
          rule: "minNumber",
          value: 0.01,
          errorMessage: "Amount must be greater than 0",
        },
      ])
      .addField("#additional-mint-description", [
        {
          rule: "required",
          errorMessage: "Description is required",
        },
      ])
      .onSuccess(async (event) => {
        event.preventDefault();
        addOverlay("additional-mint-form");
        const formData = new FormData(event.target);
        const data = Object.fromEntries(formData);

        try {
          checkConnection();
          const calldata = (
            await token_contract.mint.populateTransaction(data.wallet, data.amount)
          ).data;
          const tx = await mini_contract.proposeWithTitle(
            [token_address],
            [0],
            [calldata],
            data.description,
            data.title
          );
          tx.wait();
          reloadPosts();
          notyf.success('Successfully minted!')
        } catch (error) {
          console.log('Error: ', error)
          notyf.error('Error mint!')
        } finally {
          removeOverlay("additional-mint-form");
        }

        console.log("Form data:", data);
        notyf.success("Minting successful")
      });
  });
</script>

<dialog class="modal" id="additional_mint_docs">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Form Explanation</h3>
    <div class="space-y-4 py-4">
      <p>
        This form is designed to collect all necessary information for minting
        additional tokens within the MiniDAO platform. Each field in the form
        collects specific details required to process and approve the minting
        request:
      </p>
      <ul class="space-y-2">
        <li>
          <strong>Title:</strong> Provide a brief and descriptive title for the
          minting request. This helps others understand the purpose of the mint.
        </li>

        <li>
          <strong>Receiver Wallet Address:</strong> Enter the cryptocurrency
          wallet address where the newly minted tokens will be sent. Ensure that
          the address is capable of receiving the tokens.
        </li>

        <li>
          <strong>Amount:</strong> Specify the number of tokens to be minted.
          Enter the amount as a numeric value.
        </li>

        <li>
          <strong>Description:</strong> Give a detailed description outlining
          the reason for minting additional tokens. Include any relevant
          information that will help in evaluating the minting request.
        </li>
      </ul>
      <p>
        Once all fields are filled out, the user can submit the form by clicking
        the "Submit Minting Request" button. The provided information will then
        be processed for minting additional tokens.
      </p>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
