<form
  action="#"
  class="tw-card bg-base-100 mt-4 flex w-96 flex-col gap-2 p-6 shadow"
  data-tab-content="issue-grant"
  id="issue-grant-form"
>
  <button
    class="tw-btn mb-2"
    onclick="issue_grant_docs.showModal()"
    type="button"
  >
    Docs for issue native token grant
  </button>
  <span id="native_token_balance"></span>
  <div>
    <label class="tw-label tw-label-text" for="issue_grant_title">Title</label>
    <input
      class="tw-input tw-input-bordered w-full"
      id="issue_grant_title"
      name="title"
      placeholder="Type here"
      type="text"
    />
  </div>
  <div>
    <label
      class="tw-label tw-label-text"
      data-tip="hello"
      for="issue_grant_wallet"
      >Receiver wallet address</label
    >
    <input
      class="tw-input tw-input-bordered w-full"
      id="issue_grant_wallet"
      name="wallet"
      placeholder="Type here"
      type="text"
    />
  </div>
  <div>
    <label
      class="tw-label tw-label-text"
      data-tip="hello"
      for="issue_grant_amount"
      >Amount</label
    >
    <input
      class="tw-input tw-input-bordered w-full"
      id="issue_grant_amount"
      name="amount"
      placeholder="Type here"
      type="number"
      min="0"
      step="0.000001"
    />
  </div>
  <div>
    <label
      class="tw-label tw-label-text"
      data-tip="hello"
      for="issue_grant_description"
      >Description</label
    >
    <textarea
      class="tw-textarea tw-textarea-bordered w-full"
      id="issue_grant_description"
      name="description"
      placeholder="Type your description"
    ></textarea>
  </div>
  <button class="custom-primary-btn mt-2">Submit Grant</button>

  <script type="module">
    document.addEventListener("DOMContentLoaded", () => {
      const validation = new window.JustValidate("#issue-grant-form");

      validation
        .addField("#issue_grant_title", [
          {
            rule: "required",
            errorMessage: "Title is required",
          },
        ])
        .addField("#issue_grant_wallet", [
          {
            rule: "required",
            errorMessage: "Wallet address is required",
          },
          {
            rule: "minLength",
            value: 42,
            errorMessage: "Invalid wallet address",
          },
          {
            rule: "maxLength",
            value: 42,
            errorMessage: "Invalid wallet address",
          },
          {
            validator: (value) => ethers.isAddress(value),
            errorMessage: "Invalid wallet address",
          },
        ])
        .addField("#issue_grant_amount", [
          {
            rule: "required",
            errorMessage: "Amount is required",
          },
          {
            rule: "number",
            errorMessage: "Amount must be a number",
          },
          {
            rule: "minNumber",
            value: 0.000001,
            errorMessage: "Amount must be greater than 0",
          },
        ])
        .addField("#issue_grant_description", [
          {
            rule: "required",
            errorMessage: "Description is required",
          },
        ])
        .onSuccess(async (event) => {
          event.preventDefault();
          addOverlay("issue-grant-form");
          const formData = new FormData(event.target);
          const data = Object.fromEntries(formData);

          try {
            const balance = await provider.getBalance(treasury_address);
            const amount = ethers.parseEther(data.amount);
            console.log("Amount:", amount);
            console.log("Balance:", balance);
            if (amount <= balance) {
              const calldata = (
                await treasury_contract.releaseNativeToken.populateTransaction(
                  data.wallet,
                  amount,
                )
              ).data;
              const tx = await mini_contract.proposeWithTitle(
                [treasury_address],
                [0],
                [calldata],
                data.description,
                data.title,
              );
              await tx.wait();
              document.getElementById("issue-grant-form").reset();
              notyf.success("Grant issued successfully!");
              reloadPosts();
            } else {
              notyf.error(
                "Can't create a proposal because the treasury balance is less than the grant amount!",
              );
            }
          } catch (error) {
            console.error("Error:", error);
            notyf.error("Failed to issue grant!");
          } finally {
            removeOverlay("issue-grant-form");
          }
        });
    });
  </script>
</form>

<dialog class="tw-modal" id="issue_grant_docs">
  <div class="tw-modal-box">
    <h3 class="text-lg font-bold">Form Explanation</h3>
    <div class="space-y-4 py-4">
      <p>
        This form is designed to collect all necessary information for issuing a
        new grant within the MiniDAO platform. Each field in the form collects
        specific details required to process and approve the grant request:
      </p>
      <ul class="space-y-2">
        <li>
          <strong>Title:</strong> A brief title summarizing the purpose of the
          grant.
        </li>
        <li>
          <strong>Receiver wallet address:</strong> The cryptocurrency wallet
          address where the grant funds will be transferred upon approval.
        </li>
        <li>
          <strong>Amount:</strong> The monetary value requested for the grant,
          expressed in US dollars.
        </li>
        <li>
          <strong>Description:</strong> A detailed description outlining the
          goals and requirements of the grant.
        </li>
      </ul>
      <p>
        Once all fields are filled out, the user can submit the form by clicking
        the "Submit Grant" button. The provided information will then be
        processed for grant issuance.
      </p>
    </div>
    <div class="tw-modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="tw-btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
