<form
  action="#"
  class="tw-card bg-base-100 mt-4 hidden w-96 flex-col gap-2 p-6 shadow"
  data-tab-content="nft721-grant"
  id="nft721-grant-form"
>
  <button
    class="tw-btn mb-2"
    onclick="nft721_grant_docs.showModal()"
    type="button"
  >
    Docs for pay ERC721 grant
  </button>
  <div>
    <label class="tw-label tw-label-text" for="nft721-grant-title">Title</label>
    <input
      class="tw-input tw-input-bordered w-full"
      id="nft721-grant-title"
      name="title"
      placeholder="Type here"
      type="text"
    />
  </div>
  <div>
    <label class="tw-label tw-label-text" for="nft721-grant-wallet"
      >Receiver wallet address</label
    >
    <input
      class="tw-input tw-input-bordered w-full"
      id="nft721-grant-wallet"
      name="wallet"
      placeholder="Type here"
      type="text"
    />
  </div>
  <div>
    <label class="tw-label tw-label-text" for="nft721-grant-token_id">ID</label>
    <input
      class="tw-input tw-input-bordered w-full"
      id="nft721-grant-token_id"
      name="token_id"
      placeholder="Type here token ID"
      type="number"
      min="0"
    />
  </div>
  <div>
    <label class="tw-label tw-label-text" for="nft721-grant-token_address"
      >Token address</label
    >
    <input
      class="tw-input tw-input-bordered w-full"
      id="nft721-grant-token_address"
      name="token_address"
      placeholder="Type here"
      type="text"
    />
    <div id="nft_info" class="mt-2 text-sm text-gray-500"></div>
  </div>
  <div>
    <label class="tw-label tw-label-text" for="nft721-grant-description"
      >Description</label
    >
    <textarea
      class="tw-textarea tw-textarea-bordered w-full"
      id="nft721-grant-description"
      name="description"
      placeholder="Type your description"
    ></textarea>
  </div>
  <button class="custom-primary-btn mt-2">Submit Grant</button>

  <script type="module">
    document.addEventListener("DOMContentLoaded", () => {
      const tokenAddressInput = document.getElementById(
        "nft721-grant-token_address",
      );

      tokenAddressInput.addEventListener("input", async () => {
        const tokenInfoDiv = document.getElementById("nft_info");
        const tokenAddress = tokenAddressInput.value;
        if (tokenAddress.length === 42 && ethers.isAddress(tokenAddress)) {
          // Проверка адреса токена и получение имени токена
          const tokenInfo = await getTokenInfoForGrant(tokenAddress);
          console.log(tokenInfo);
          if (tokenInfo) {
            tokenInfoDiv.innerHTML = tokenInfo;
          } else {
            tokenInfoDiv.innerHTML = "Invalid token address";
          }
        } else {
          tokenInfoDiv.innerHTML = "Invalid token address";
        }
      });

      async function getTokenInfoForGrant(address) {
        const token_connect = new ethers.Contract(address, token_abi, signer);
        const name = await token_connect.name();
        const symbol = await token_connect.symbol();
        const balance = await token_connect.balanceOf(treasury_address);

        return `${name} (${symbol}), Tresuary balance: ${balance}`;
      }

      const validation = new window.JustValidate("#nft721-grant-form");

      validation
        .addField("#nft721-grant-title", [
          {
            rule: "required",
            errorMessage: "Title is required",
          },
        ])
        .addField("#nft721-grant-wallet", [
          {
            rule: "required",
            errorMessage: "Wallet address is required",
          },
          {
            rule: "minLength",
            value: 42,
            errorMessage: "Invalid wallet address",
          },
          {
            rule: "maxLength",
            value: 42,
            errorMessage: "Invalid wallet address",
          },
          {
            validator: (value) => ethers.isAddress(value),
            errorMessage: "Invalid wallet address",
          },
        ])
        .addField("#nft721-grant-token_id", [
          {
            rule: "required",
            errorMessage: "Token ID is required",
          },
        ])
        .addField("#nft721-grant-description", [
          {
            rule: "required",
            errorMessage: "Description is required",
          },
        ])
        .addField("#nft721-grant-token_address", [
          {
            rule: "required",
            errorMessage: "Token address is required",
          },
          {
            rule: "minLength",
            value: 42,
            errorMessage: "Invalid token address",
          },
          {
            rule: "maxLength",
            value: 42,
            errorMessage: "Invalid token address",
          },
          {
            validator: (value) => ethers.isAddress(value),
            errorMessage: "Invalid token address",
          },
        ])
        .onSuccess(async (event) => {
          event.preventDefault();
          const formData = new FormData(event.target);
          const data = Object.fromEntries(formData);

          try {
            addOverlay("nft721-grant-form");
            const calldata = (
              await treasury_contract.releaseERC721Token.populateTransaction(
                data.wallet,
                data.token_id,
                data.token_address,
              )
            ).data;
            const tx = await mini_contract.proposeWithTitle(
              [treasury_address],
              [0],
              [calldata],
              data.description,
              data.title,
            );
            await tx.wait();
            notyf.success("Paying nft721 grant successfuly!");
            reloadPosts();
          } catch (error) {
            notyf.error("Paying nft721 grant error!");
            console.log(error);
          } finally {
            removeOverlay("nft721-grant-form");
          }
        });
    });
  </script>
</form>

<dialog class="tw-modal" id="nft721_grant_docs">
  <div class="tw-modal-box">
    <h3 class="text-lg font-bold">Form Explanation</h3>
    <div class="space-y-4 py-4">
      <p>
        This form is designed to collect all necessary information for issuing a
        new NFT721 grant within the MiniDAO platform. Each field in the form
        collects specific details required to process and approve the grant
        request:
      </p>
      <ul class="space-y-2">
        <li>
          <strong>Title:</strong> Provide a brief and descriptive title for the
          grant. This helps others understand the purpose of the grant.
        </li>

        <li>
          <strong>Receiver Wallet Address:</strong> Enter the cryptocurrency
          wallet address where the NFT will be sent. Ensure that the address is
          capable of receiving NFT721 tokens.
        </li>

        <li>
          <strong>ID (Token ID):</strong> Specify the unique identifier (ID) of
          the NFT to be granted. This ensures the correct NFT is transferred.
        </li>

        <li>
          <strong>Token Address:</strong> Provide the smart contract address of
          the NFT721 token. This ensures the correct type of NFT is transferred.
        </li>

        <li>
          <strong>Description:</strong> Give a detailed description outlining
          the goals and requirements of the grant. Include any relevant
          information that will help in evaluating the grant request.
        </li>
      </ul>
      <p>
        Once all fields are filled out, the user can submit the form by clicking
        the "Submit Grant" button. The provided information will then be
        processed for grant issuance.
      </p>
    </div>
    <div class="tw-modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="tw-btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
