<div class="page" id="treasury">
  <div class="w-full grid lg:grid-cols-2 gap-10 mt-4">
    <div class="space-y-2">
      <p class="text-xl font-medium">ERC20 Tokens</p>
      <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="py-3 px-3">Name</th>
              <th scope="col" class="py-3 px-3">Symbol</th>
              <th scope="col" class="py-3 px-3">Address</th>
              <th scope="col" class="py-3 px-3">Balance</th>
            </tr>
          </thead>
          <tbody id="erc20_table_body"></tbody>
        </table>
        <div
          id="erc20_table_empty"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 py-10 flex items-center justify-center"
        >
          <p>No entries</p>
        </div>
      </div>
    </div>

    <div class="space-y-2">
      <p class="text-xl font-medium">ERC721 Tokens</p>
      <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="py-3 px-3">ID</th>
              <th scope="col" class="py-3 px-3">Address</th>
              <th scope="col" class="py-3 px-3">IMAGE</th>
              <th scope="col" class="py-3 px-3">NAME</th>
              <th scope="col" class="py-3 px-3">DESCRIPTION</th>
            </tr>
          </thead>
          <tbody id="nfts_table_body"></tbody>
        </table>
        <div
          id="nfts_table_empty"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 py-10 flex items-center justify-center"
        >
          <p>No entries</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const treasuryVue = new Vue({
      el: "#treasury",
      data: {
        erc20: [],
        nfts: [],
      },
    });
  });
</script>
