<form class="hidden" id="form-myAddr">
  <div>
    <button
        class="mt-2 btn btn-primary"
        data-form-name="myAddr"
        id="read-btn"
        type="button"
    >
      Read
    </button>
  </div>
  <div>
    <p>Response:</p>
    <div>
      :
      <span
          data-field-type="address"
          data-form-name="myAddr"
          id="form-output-myAddr-0"
      >address</span
      >
      <br />
    </div>
  </div>
</form>

<script>
  const btn = document.getElementById("read-btn");
  if (btn) {
    setTimeout(() => {
      btn.click();
    }, 1000);
  }
</script>

<script>
  const logStyle = "color: green; font-weight: bold;";
  const infoStyle = "color: blue; font-weight: bold;";
  const errorStyle = "color: red; font-weight: bold;";

  var app_status;
  setTimeout(() => {
    app_status = document.getElementById('app-status')
    console.log(app_status)
    app_status.innerText = 'Loading...'
    app_status.className = 'text-orange-500'
  }, 100)

  console.log("%cScript initialized", logStyle);

  const getMetadataWithRetries = async (retries = 3) => {
    try {
      app_status.innerText = 'Fetching metadata...'
      // Получаем текущий URL
      const currentUrl = window.location.href;
      // const currentUrl = 'https://forwardfactory.ai/services/my-apps/admin/29d4acd3-473a-4340-bec4-767a55f76184';
      console.log("%cCurrent URL: " + currentUrl, infoStyle);

      // Используем регулярное выражение для извлечения сегмента после /admin/
      const regex = /\/admin\/([^\/]+)/;
      const match = currentUrl.match(regex);

      if (!match) {
        throw new Error("Segment after /admin/ not found in the URL");
      }

      const adminAppId = match[1];
      console.log("%cExtracted segment after /admin/: " + adminAppId, infoStyle);

      // Формируем API URL
      const apiUrl = `https://forwardfactory.ai/api/network/userwebapp/admin/${adminAppId}/`;
      console.log("%cAPI URL: " + apiUrl, infoStyle);

      // Логируем количество оставшихся попыток
      console.log("%cAttempting to fetch API. Retries left: " + retries, logStyle);

      // Делаем запрос к API
      const response = await fetch(apiUrl, { method: 'GET' });

      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }

      // Получаем JSON ответ
      const data = await response.json();

      // Проверяем наличие и корректность contractAddress
      const contractAddress = data.contractAddress;
      if (validateContractAddress(contractAddress)) {
        contract_address = contractAddress;
        console.log("%cContract address is valid: " + contract_address, logStyle);
        app_status.innerText = 'Init app...'
        initApp();
      } else {
        throw new Error("Invalid contractAddress format");
      }
    } catch (error) {
      console.error("%cError fetching data: " + error.message, errorStyle);
      if (retries > 0) {
        console.log("%cRetrying in 1500ms...", infoStyle);
        setTimeout(() => getMetadataWithRetries(retries - 1), 1500);
      } else {
        console.error("%cFailed after 3 attempts", errorStyle);
      }
    }
  }

  const validateContractAddress = (address) => {
    const regex = /^0x[a-fA-F0-9]{40}$/; // Стандартный формат для Ethereum адресов
    return regex.test(address);
  }

  const is_forward = true;
  if (is_forward) {
    console.log("%cSetting timeout to start checking for address in 1500ms", infoStyle);
    setTimeout(() => {
      getMetadataWithRetries()
    }, 100)
  } else {
    document.addEventListener("DOMContentLoaded", () => {
      initLocalApp();
    });
  }
</script>
