<form class="hidden" id="form-myAddr">
  <div>
    <button
      class="mt-2 btn btn-primary"
      data-form-name="myAddr"
      id="read-btn"
      type="button"
    >
      Read
    </button>
  </div>
  <div>
    <p>Response:</p>
    <div>
      :
      <span
        data-field-type="address"
        data-form-name="myAddr"
        id="form-output-myAddr-0"
        >address</span
      >
      <br />
    </div>
  </div>
</form>

<script>
  const btn = document.getElementById("read-btn");
  if (btn) {
    setTimeout(() => {
      btn.click();
    }, 1000);
  }
</script>

<script>
  const logStyle = "color: green; font-weight: bold;";
  const errorStyle = "color: red; font-weight: bold;";

  console.log("%cScript initialized", logStyle);

  const checkForContractAddress = () => {
    console.log("%cStarting to check for contract address", logStyle);

    const checkAddress = () => {
      console.log("Checking for contract address in the document");
      const addressElement = document.getElementById("form-output-myAddr-0");
      const address = addressElement ? addressElement.innerHTML : null;
      const addressRegex = /^(0x)?[0-9a-fA-F]{40}$/;

      if (address) {
        console.log(`Found address: ${address}`);
      } else {
        console.log("Address not found");
      }

      if (address && addressRegex.test(address)) {
        console.log(`%cAddress ${address} is valid`, logStyle);
        contract_address = address;
        initForwardApp();
        console.log("%cCalled initApp...", logStyle);
        return true;
      } else {
        console.log(`%cAddress: ${address} is invalid`, errorStyle);
      }
      return false;
    };

    console.log("Setting interval to check address every 250 ms");
    const intervalId = setInterval(() => {
      if (checkAddress()) {
        clearInterval(intervalId);
        clearTimeout(timeoutId);
        console.log("%cAddress found and interval cleared", logStyle);
      }
    }, 250);

    // Set timeout for 5 seconds to stop checking
    const timeoutId = setTimeout(() => {
      clearInterval(intervalId);
      console.error(
        "%cFailed to obtain contract address within the time limit",
        errorStyle,
      );
      notyf.error(
        "Failed to obtain contract address within the time limit, reload page!",
      );
    }, 5000);
  };

  const is_forward = true;
  if (is_forward) {
    console.log("Setting timeout to start checking for address in 1500ms");
    setTimeout(checkForContractAddress, 1500);
  } else {
    document.addEventListener("DOMContentLoaded", () => {
      initLocalApp();
    });
  }
</script>
