<div class="relative block dropdown dropdown-end" title="Change Theme">
  <div class="btn btn-ghost" role="button" tabindex="0">
    <span class="inline font-normal">Theme</span>
    <svg
      class="hidden w-2 h-2 fill-current opacity-60 sm:inline-block"
      height="12px"
      viewBox="0 0 2048 2048"
      width="12px"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
      ></path>
    </svg>
  </div>
  <div
    class="dropdown-content bg-base-200 text-base-content rounded-box top-px mt-16 w-56 overflow-y-auto border border-gray-500 shadow-2xl outline outline-1"
    tabindex="0"
  >
    <div class="grid grid-cols-1 gap-3 p-3">
      <button
        class="outline-base-content text-start outline-offset-4"
        data-set-theme="light"
      >
        <span
          class="block w-full font-sans cursor-pointer bg-base-100 rounded-btn text-base-content"
          data-theme="light"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="flex items-center col-span-5 row-span-3 row-start-1 gap-2 px-4 py-3"
              ><svg
                class="invisible w-3 h-3 shrink-0"
                fill="currentColor"
                height="16"
                viewBox="0 0 24 24"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                ></path>
              </svg>
              <span class="flex-grow text-sm">light</span>
              <span class="flex flex-wrap h-full gap-1 shrink-0"
                ><span class="w-2 bg-primary rounded-badge"></span>
                <span class="w-2 bg-secondary rounded-badge"></span>
                <span class="w-2 bg-accent rounded-badge"></span>
                <span
                  class="w-2 bg-neutral rounded-badge"
                ></span></span></span></span
        ></span>
      </button>
      <button
        class="outline-base-content text-start outline-offset-4"
        data-set-theme="dark"
      >
        <span
          class="block w-full font-sans cursor-pointer bg-base-100 rounded-btn text-base-content"
          data-theme="dark"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="flex items-center col-span-5 row-span-3 row-start-1 gap-2 px-4 py-3"
              ><svg
                class="invisible w-3 h-3 shrink-0"
                fill="currentColor"
                height="16"
                viewBox="0 0 24 24"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                ></path>
              </svg>
              <span class="flex-grow text-sm">dark</span>
              <span class="flex flex-wrap h-full gap-1 shrink-0"
                ><span class="w-2 bg-primary rounded-badge"></span>
                <span class="w-2 bg-secondary rounded-badge"></span>
                <span class="w-2 bg-accent rounded-badge"></span>
                <span
                  class="w-2 bg-neutral rounded-badge"
                ></span></span></span></span
        ></span>
      </button>
      <button
        class="outline-base-content text-start outline-offset-4"
        data-set-theme="bumblebee"
      >
        <span
          class="block w-full font-sans cursor-pointer bg-base-100 rounded-btn text-base-content"
          data-theme="bumblebee"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="flex items-center col-span-5 row-span-3 row-start-1 gap-2 px-4 py-3"
              ><svg
                class="invisible w-3 h-3 shrink-0"
                fill="currentColor"
                height="16"
                viewBox="0 0 24 24"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                ></path>
              </svg>
              <span class="flex-grow text-sm">bumblebee</span>
              <span class="flex flex-wrap h-full gap-1 shrink-0"
                ><span class="w-2 bg-primary rounded-badge"></span>
                <span class="w-2 bg-secondary rounded-badge"></span>
                <span class="w-2 bg-accent rounded-badge"></span>
                <span
                  class="w-2 bg-neutral rounded-badge"
                ></span></span></span></span
        ></span>
      </button>

      <button
        class="outline-base-content text-start outline-offset-4"
        data-set-theme="corporate"
      >
        <span
          class="block w-full font-sans cursor-pointer bg-base-100 rounded-btn text-base-content"
          data-theme="corporate"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="flex items-center col-span-5 row-span-3 row-start-1 gap-2 px-4 py-3"
              ><svg
                class="invisible w-3 h-3 shrink-0"
                fill="currentColor"
                height="16"
                viewBox="0 0 24 24"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                ></path>
              </svg>
              <span class="flex-grow text-sm">corporate</span>
              <span class="flex flex-wrap h-full gap-1 shrink-0"
                ><span class="w-2 bg-primary rounded-badge"></span>
                <span class="w-2 bg-secondary rounded-badge"></span>
                <span class="w-2 bg-accent rounded-badge"></span>
                <span
                  class="w-2 bg-neutral rounded-badge"
                ></span></span></span></span
        ></span>
      </button>
      <button
        class="outline-base-content text-start outline-offset-4"
        data-set-theme="dim"
      >
        <span
          class="block w-full font-sans cursor-pointer bg-base-100 rounded-btn text-base-content"
          data-theme="dim"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="flex items-center col-span-5 row-span-3 row-start-1 gap-2 px-4 py-3"
              ><svg
                class="invisible w-3 h-3 shrink-0"
                fill="currentColor"
                height="16"
                viewBox="0 0 24 24"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                ></path>
              </svg>
              <span class="flex-grow text-sm">dim</span>
              <span class="flex flex-wrap h-full gap-1 shrink-0"
                ><span class="w-2 bg-primary rounded-badge"></span>
                <span class="w-2 bg-secondary rounded-badge"></span>
                <span class="w-2 bg-accent rounded-badge"></span>
                <span
                  class="w-2 bg-neutral rounded-badge"
                ></span></span></span></span
        ></span>
      </button>
      <button
        class="outline-base-content text-start outline-offset-4"
        data-set-theme="sunset"
      >
        <span
          class="block w-full font-sans cursor-pointer bg-base-100 rounded-btn text-base-content"
          data-theme="sunset"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="flex items-center col-span-5 row-span-3 row-start-1 gap-2 px-4 py-3"
              ><svg
                class="invisible w-3 h-3 shrink-0"
                fill="currentColor"
                height="16"
                viewBox="0 0 24 24"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                ></path>
              </svg>
              <span class="flex-grow text-sm">sunset</span>
              <span class="flex flex-wrap h-full gap-1 shrink-0"
                ><span class="w-2 bg-primary rounded-badge"></span>
                <span class="w-2 bg-secondary rounded-badge"></span>
                <span class="w-2 bg-accent rounded-badge"></span>
                <span
                  class="w-2 bg-neutral rounded-badge"
                ></span></span></span></span
        ></span>
      </button>
    </div>
  </div>
</div>

<script>
  const buttons = document.querySelectorAll("[data-set-theme]");

  buttons.forEach((btn) => {
    btn.addEventListener("click", () => {
      setTimeout(() => {
        setTheme();
      }, 50);
    });
  });
</script>
