<div class="page mx-auto" id="voting-proposals">
  @@include('toolsbar.html')

  <div class="mt-6" id="votes-feed">
    <div class="flex flex-col gap-4" v-if="loading">
      <div
        :key="n"
        class="custom-card custom-card-bordered w-full rounded-xl p-6 shadow-xl"
        id="skeleton-post"
        v-for="n in 3"
      >
        <div class="mb-6 flex items-center justify-between">
          <div class="flex items-center gap-2">
            <div class="skeleton h-6 w-6"></div>
            <div class="skeleton h-7 w-36 rounded-lg"></div>
          </div>

          <div class="skeleton h-5 w-14 rounded-full"></div>
        </div>

        <div class="skeleton h-6 w-2/3 rounded-xl"></div>
        <div class="mt-3 flex flex-col gap-1">
          <div class="skeleton h-5 w-full"></div>
          <div class="skeleton h-5 w-2/3"></div>
          <div class="skeleton h-5 w-3/4"></div>
        </div>

        <div class="mt-4 flex flex-col gap-2">
          <div class="skeleton h-10 w-full rounded-md"></div>
          <div class="skeleton h-10 w-full rounded-md"></div>
          <div class="skeleton h-10 w-full rounded-md"></div>
        </div>

        <div class="skeleton mt-4 h-5 w-40 rounded-md"></div>
      </div>
    </div>
    <div class="flex flex-col gap-4" v-else>
      <div
        :key="post.index"
        :id="'post_'+post.index"
        class="custom-card custom-card-bordered w-full rounded-xl p-6 shadow-xl"
        v-for="post in posts"
      >
        <div class="mb-6 flex items-center justify-between">
          <div class="flex items-center gap-2">
            <img
              alt="logo"
              class="h-6 w-6 rounded-full"
              src="https://cdn.stamp.fyi/avatar/eth:{{post.proposer}}?s=40&ts=1714866711"
            />
            <div class="relative flex items-center">
              <copy-button :address="post.proposer"></copy-button>
            </div>
          </div>

          <span
            :class="[getStatusClass(post.status), 'rounded-full px-3 py-1 text-xs font-semibold']"
            >{{ post.status }}</span
          >
        </div>

        <a
          class="text-xl font-bold"
          href="#"
          v-if="post.title !== ''"
          v-text="post.title"
          >Unknown</a
        >
        <a class="text-xl font-bold" href="#" v-if="post.title === ''"
          >Unknown</a
        >
        <p
          class="mt-2 cursor-pointer text-lg font-medium"
          data-show-full
          v-text="post.description"
        >
          {{ post.description }}
        </p>

        <div class="mt-4 flex flex-col gap-2">
          <div
            class="relative h-10 w-full shadow"
            @click="vote(post.extra.proposalId, 1, post.index, post.status_id)"
            role="button"
          >
            <div
              class="bg-base-300 absolute left-0 top-0 z-0 h-full rounded"
              :style="{width: post.votes.up.percent + '%'}"
            ></div>
            <div
              class="relative z-10 flex h-full w-full items-center justify-between px-4"
            >
              <p class="font-medium">
                For
                <span class="ml-2 text-sm font-normal text-gray-600"
                  >{{ post.votes.up.text }}</span
                >
              </p>
              <p>{{ post.votes.up.percent }}%</p>
            </div>
          </div>
          <div
            class="relative h-10 w-full shadow"
            @click="vote(post.extra.proposalId, 0, post.index, post.status_id)"
            role="button"
          >
            <div
              class="bg-base-300 absolute left-0 top-0 z-0 h-full rounded"
              :style="{width: post.votes.down.percent + '%'}"
            ></div>
            <div
              class="relative z-10 flex h-full w-full items-center justify-between px-4"
            >
              <p class="font-medium">
                Against
                <span class="ml-2 text-sm font-normal text-gray-600"
                  >{{ post.votes.down.text }}</span
                >
              </p>
              <p>{{ post.votes.down.percent }}%</p>
            </div>
          </div>
          <div
            class="relative h-10 w-full shadow"
            @click="vote(post.extra.proposalId, 2, post.index, post.status_id)"
            role="button"
          >
            <div
              class="bg-base-300 absolute left-0 top-0 z-0 h-full rounded"
              :style="{width: post.votes.neutral.percent + '%'}"
            ></div>
            <div
              class="relative z-10 flex h-full w-full items-center justify-between px-4"
            >
              <p class="font-medium">
                Abstain
                <span class="ml-2 text-sm font-normal text-gray-600"
                  >{{ post.votes.neutral.text }}</span
                >
              </p>
              <p>{{ post.votes.neutral.percent }}%</p>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-between mt-4">
          <p class="text-gray-500">{{ post.time }}</p>
          <div
            v-if="post.status_id === 0 || post.status_id === 4 || post.status_id === 5"
            class="dropdown dropdown-top dropdown-end z-10"
          >
            <div tabindex="0" role="button" class="btn btn-sm">
              <svg
                class="fill-current text-primary"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
                ></path>
              </svg>
            </div>
            <ul
              tabindex="0"
              class="dropdown-content menu bg-base-100 rounded-box shadow-2xl border-2 border-neutral-200/60 w-52 p-2"
            >
              <li v-if="post.status_id === 4">
                <a @click="queueProposal(post.extra, post.index)">Queue</a>
              </li>
              <li v-if="post.status_id === 5">
                <a @click="executeProposal(post.extra, post.index)">Execute</a>
              </li>
              <li
                v-if="post.proposer === walletAddress && post.status_id === 0"
              >
                <a @click="cancelProposal(post.extra, post.index)">Cancel</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div v-if="posts.length === 0">No entries found</div>
    </div>
  </div>
</div>

@@include('copy-button.html')
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const app = new Vue({
      el: "#votes-feed",
      data: {
        posts: [],
        loading: true,

        colorMap: {
          Pending: "bg-gray-200 text-gray-800",
          Active: "bg-blue-100 text-blue-800",
          Canceled: "bg-red-100 text-red-800",
          Defeated: "bg-yellow-100 text-yellow-800",
          Succeeded: "bg-green-100 text-green-800",
          Queued: "bg-purple-100 text-purple-800",
          Expired: "bg-gray-400 text-gray-900",
          Executed: "bg-gray-100 text-gray-800",
        },
      },
      created() {
        setTimeout(() => {
          this.loadPosts();
        }, 1000);
      },
      methods: {
        // VOTE
        async vote(proposalId, voteId, post_index, status_id) {
          // Active
          if (status_id === 1) {
            const delefates_addr =
              await token_contract.delegates(walletAddress);
            if (delefates_addr != ethers.ZeroAddress) {
              try {
                addOverlay(`post_${post_index}`);
                // console.log(voteId);
                // console.log(await token_contract.balanceOf(walletAddress));

                // console.log(await mini_contract.proposalVotes(proposalId));
                const tx = await mini_contract.castVote(proposalId, voteId);

                await tx.wait();
                setTimeout(() => {
                  reloadPosts();
                }, 500);
                notyf.success("Success voting!");
              } catch (e) {
                console.log(e);
                notyf.error("Error voting!");
              } finally {
                removeOverlay(`post_${post_index}`);
              }
            } else {
              notyf.error(
                "First, call the token delegation (Actions -> Delegete)",
              );
            }
          } else {
            notyf.error(
              `The motion can't be voted on, it's ${getStatusNameById(status_id)}`,
            );
          }
        },
        async loadPosts() {
          const status_filter = localStorage.getItem("status");
          const search_key = localStorage.getItem("search_key");

          this.loading = true;

          const posts = await fetchPosts();

          if (status_filter === "All") {
            this.posts = posts;
          } else {
            this.posts = posts.filter((post) => post.status === status_filter);
          }

          if (search_key) {
            this.posts = this.posts.filter((post) =>
              post.title.toLowerCase().includes(search_key.toLowerCase()),
            );
          }

          this.loading = false;

          setTimeout(() => {
            set_text_modals();
          }, 1000);
        },
        reloadPosts() {
          this.loadPosts();
        },

        getStatusClass(status) {
          return `rounded-full px-3 py-1 text-xs font-semibold ${this.colorMap[status]}`;
        },

        // QUEUE
        async queueProposal(post_extra, post_index) {
          try {
            addOverlay(`post_${post_index}`);
            const tx = await mini_contract.queue(
              post_extra.targets,
              post_extra.values,
              post_extra.calldatas,
              post_extra.descriptionHash,
            );
            await tx.wait();
            notyf.success("Proposal queued successfully!");
            setTimeout(() => {
              reloadPosts();
            }, 500);
          } catch (e) {
            console.log(e);
            notyf.error("Error queuing proposal!");
          } finally {
            removeOverlay(`post_${post_index}`);
          }
        },
        // EXECUTE
        async executeProposal(post_extra, post_index) {
          try {
            addOverlay(`post_${post_index}`);
            const tx = await mini_contract.execute(
              post_extra.targets,
              post_extra.values,
              post_extra.calldatas,
              post_extra.descriptionHash,
            );
            await tx.wait();
            notyf.success("Proposal executed successfully!");
            setTimeout(() => {
              reloadPosts();
            }, 500);
          } catch (e) {
            console.log(e);
            notyf.error("Error executing proposal!");
          } finally {
            removeOverlay(`post_${post_index}`);
          }
        },
        // CANCEL
        async cancelProposal(post_extra, post_index) {
          try {
            addOverlay(`post_${post_index}`);

            console.log(post_extra);

            const tx = await mini_contract.cancel(
              post_extra.targets,
              post_extra.values,
              post_extra.calldatas,
              post_extra.descriptionHash,
            );
            await tx.wait();
            notyf.success("Proposal canceled successfully!");
            setTimeout(() => {
              reloadPosts();
            }, 500);
          } catch (e) {
            console.log(e);
            notyf.error("Error canceling proposal!");
          } finally {
            removeOverlay(`post_${post_index}`);
          }
        },
      },
    });

    // Expose reloadPosts globally
    window.reloadPosts = function () {
      app.reloadPosts();
    };
  });
</script>
