<form class="hidden" id="form-myAddr">
  <div>
    <button
      class="mt-2 btn btn-primary"
      data-form-name="myAddr"
      id="read-btn"
      type="button"
    >
      Read
    </button>
  </div>
  <div>
    <p>Response:</p>
    <div>
      :
      <span
        data-field-type="address"
        data-form-name="myAddr"
        id="form-output-myAddr-0"
        >address</span
      >
      <br />
    </div>
  </div>
</form>

<script>
  const btn = document.getElementById("read-btn");
  if (btn) {
    setTimeout(() => {
      btn.click();
    }, 1000);
  }
</script>

<script>
  const logStyle = "color: green; font-weight: bold;";
  const infoStyle = "color: blue; font-weight: bold;";
  const errorStyle = "color: red; font-weight: bold;";

  console.log("%cScript initialized", logStyle);

  const getMetadataWithRetries = async (retries = 3) => {
    try {
      // Получаем текущий URL
      const currentUrl = window.location.href;
      // const currentUrl = 'https://dfjknskjvnns.forwardfactory.ai/subdomain';
      console.log("%cCurrent URL: " + currentUrl, infoStyle);

      // Получаем поддомен из URL
      const subdomain = window.location.hostname.split('.')[0];
      // const subdomain = 'dfjknskjvnns.forwardfactory.ai'.split('.')[0];
      console.log("%cExtracted subdomain: " + subdomain, infoStyle);

      // Формируем API URL, используя поддомен как параметр frontendSubdomain
      const apiUrl = `https://forwardfactory.ai/api/network/userwebapp/frontend/${subdomain}/`;
      console.log("%cAPI URL: " + apiUrl, infoStyle);

      // Логируем количество оставшихся попыток
      console.log("%cAttempting to fetch API. Retries left: " + retries, logStyle);

      // Делаем запрос к API
      const response = await fetch(apiUrl, { method: 'GET' });

      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }

      // Получаем JSON ответ
      const data = await response.json();
      console.log("%cAPI Response: " + JSON.stringify(data), logStyle);

      // Проверяем наличие и корректность contractAddress
      const contractAddress = data.contractAddress;
      if (validateContractAddress(contractAddress)) {
        contract_address = contractAddress;
        console.log("%cContract address is valid: " + contract_address, logStyle);
        initForwardApp(); // Вызываем initApp после успешного получения и валидации
      } else {
        throw new Error("Invalid contractAddress format");
      }
    } catch (error) {
      console.error("%cError fetching data: " + error.message, errorStyle);
      if (retries > 0) {
        console.log("%cRetrying in 1500ms...", infoStyle);
        setTimeout(() => getMetadataWithRetries(retries - 1), 1500);
      } else {
        console.error("%cFailed after 3 attempts", errorStyle);
      }
    }
  }

  const validateContractAddress = (address) => {
    const regex = /^0x[a-fA-F0-9]{40}$/; // Стандартный формат для Ethereum адресов
    return regex.test(address);
  }

  const is_forward = true;
  if (is_forward) {
    console.log("%cSetting timeout to start checking for address in 1500ms", infoStyle);
    setTimeout(() => getMetadataWithRetries(), 100);
  } else {
    document.addEventListener("DOMContentLoaded", () => {
      initLocalApp();
    });
  }
</script>


